RPG Assistant/WebRPG.MVC/Connected Services/UserServiceReference/ServerRPG.RumorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ServerRPG.RumorService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ServerRPG.RumorService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ServerRPG.RumorService/Imports">
      <xsd:import namespace="ServerRPG.RumorService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerRPG.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRumor_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IRumor_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IRumor_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IRumor_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IRumor_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IRumor_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IRumor_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IRumor_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IRumor_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IRumor_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IRumor">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="ServerRPG.RumorService/IRumor/Create" message="tns:IRumor_Create_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.RumorService/IRumor/CreateResponse" message="tns:IRumor_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="ServerRPG.RumorService/IRumor/Delete" message="tns:IRumor_Delete_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.RumorService/IRumor/DeleteResponse" message="tns:IRumor_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="ServerRPG.RumorService/IRumor/Find" message="tns:IRumor_Find_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.RumorService/IRumor/FindResponse" message="tns:IRumor_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="ServerRPG.RumorService/IRumor/GetAll" message="tns:IRumor_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.RumorService/IRumor/GetAllResponse" message="tns:IRumor_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="ServerRPG.RumorService/IRumor/Update" message="tns:IRumor_Update_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.RumorService/IRumor/UpdateResponse" message="tns:IRumor_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>