RPG Assistant/WebRPG.MVC/Connected Services/UserServiceReference/ServerRPG.Model13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServerRPG.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServerRPG.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Rumor">
    <xs:sequence>
      <xs:element minOccurs="0" name="Active" type="xs:boolean" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rumor" nillable="true" type="tns:Rumor" />
  <xs:complexType name="ArrayOfRumor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rumor" nillable="true" type="tns:Rumor" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRumor" nillable="true" type="tns:ArrayOfRumor" />
</xs:schema>