RPG Assistant/WebRPG.MVC/Connected Services/UserServiceReference/ServerRPG.AdventureService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="ServerRPG.AdventureService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="ServerRPG.AdventureService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="ServerRPG.AdventureService/Imports">
      <xsd:import namespace="ServerRPG.AdventureService" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ServerRPG.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdventure_Create_InputMessage">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Create_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Find_InputMessage">
    <wsdl:part name="parameters" element="tns:Find" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Find_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventure_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IAdventure_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IAdventure_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdventure">
    <wsdl:operation name="Create">
      <wsdl:input wsaw:Action="ServerRPG.AdventureService/IAdventure/Create" message="tns:IAdventure_Create_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.AdventureService/IAdventure/CreateResponse" message="tns:IAdventure_Create_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="ServerRPG.AdventureService/IAdventure/Delete" message="tns:IAdventure_Delete_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.AdventureService/IAdventure/DeleteResponse" message="tns:IAdventure_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Find">
      <wsdl:input wsaw:Action="ServerRPG.AdventureService/IAdventure/Find" message="tns:IAdventure_Find_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.AdventureService/IAdventure/FindResponse" message="tns:IAdventure_Find_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="ServerRPG.AdventureService/IAdventure/GetAll" message="tns:IAdventure_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.AdventureService/IAdventure/GetAllResponse" message="tns:IAdventure_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="ServerRPG.AdventureService/IAdventure/Update" message="tns:IAdventure_Update_InputMessage" />
      <wsdl:output wsaw:Action="ServerRPG.AdventureService/IAdventure/UpdateResponse" message="tns:IAdventure_Update_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>